<h1>Listing admin_menus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_menus.each do |admin_menu| %>
      <tr>
        <td><%= admin_menu.name %></td>
        <td><%= admin_menu.description %></td>
        <td><%= admin_menu.price %></td>
        <td><%= link_to 'Show', admin_menu %></td>
        <td><%= link_to 'Edit', edit_admin_menu_path(admin_menu) %></td>
        <td><%= link_to 'Destroy', admin_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_admin_menu_path %>
